{%  load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>{% block title %}

    {% endblock %}</title>


   <link rel="stylesheet" href="{%  static 'css/login.css' %}">
    <link rel="stylesheet" href="{%  static 'css/index.css' %}">
    <link rel="stylesheet" href="{%  static 'css/detail.css' %}">
    <link rel="stylesheet" href="{%  static 'css/carts.css' %}">
    <link rel="stylesheet" href="{%  static 'css/reset.css' %}">
    <link rel="stylesheet" href="{%  static 'css/mygxin.css' %}">

    <script src="{%  static 'js/jquery.min.js'%}"></script>
    <script src="{%  static 'js/carts.js'%}"></script>

</head>
<body>
{% include 'head.html' %}
{% block main %}{% endblock main %}


</body>
{% block footer %}{% endblock %}

</html>